Flask==2.3.3
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.108.0
pandas==2.1.4
openpyxl==3.1.2
Werkzeug==2.3.7
xlrd==2.0.1
numpy==1.24.4
urllib3==1.26.18
pytrends==4.9.2
gspread==5.12.4
gspread-dataframe==3.3.1
matplotlib==3.8.2
